        :root {
            --primary-text-color: #757575;
            --title-text-color: #212121;
            --second-text-color: rgba(255, 255, 255, 0.6);
            --accent-color: #2196F3;

            --withe-color: #ffffff;
            --bgc-dark-grey: #2F303A;
            --bgc-light-grey: #F5F4FA; 
        }
        
        
        /*Основные настройки для все страниц*/
        
        .page {
            color: var(--primary-text-color);
            background-color: var(--withe-color);
            
            font-family: Roboto, sans-serif;
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.03em;
        }


        .container {
            margin-left: auto;
            margin-right: auto;
            width: 1200px;
            padding-left: 15px;
            padding-right: 15px;
                        
        }

        .item__marg:not(:last-child) {
            margin-right: 30px;
        }

        .list__flex {
            display: flex;                 
        }
        
               
        /*Свойства header,  footer */

        
        .link {
            text-decoration: none;
        }

        .list {
            list-style: none;
            padding: 0;
            margin: 0;
        }
                    
       .logo-web {
            color: var(--accent-color);    
        }
        
        .logo-footer {
            color: var(--withe-color)
        }

        .logo {
            color: var(--title-text-color);
        }
        
        .logo, .logo-footer, .logo-web {
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 26px;
            line-height: 1.2;
        }

        .navigation {
            display: flex;
            align-items: center;
        }
                
        .site-nav, .auth-nav {
            /*display: flex;*/
           
            font-weight: 500;
            line-height: 1.14;
            letter-spacing: 0.02em;
        }

        .site-nav {
            margin-left: 93px;
        }

        .auth-nav {
            margin-left: auto;
        }

        .site-nav__item + .site-nav__item {
            margin-left: 50px;
        }
        
        .site-nav__link {
            display: block;
            padding-top: 21px;
            padding-bottom: 21px;

            color: var(--title-text-color);

            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .site-nav .link:hover,
        .site-nav .link:focus {
            color: var(--accent-color);
        }
        
        .site-nav .link.current{
            color: var(--accent-color);
        }

        .site-nav__link {
            position: relative;
        }

        .site-nav__link.current::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            background-color: var(--accent-color);
            border-radius: 2px;
            bottom: 0;
            left: 0;
        }
     
        .auth-nav__link {
            display: flex;
            flex-direction: row-reverse;
            padding-top: 21px;
            padding-bottom: 21px;

            color: var(--primary-text-color);

            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .auth-nav__item + .auth-nav__item {
            margin-left: 30px;
        }        
        
        .auth-nav__link:hover .auth-icon,
        .auth-nav__link:focus .auth-icon {
            fill: var(--accent-color);
        }
        .auth-nav__link:hover,
        .auth-nav__link:focus {
            color: var(--accent-color);
        }
         
        .auth-icon {
            width: 10px;
            height: 16px;
            margin: 0px 10px 0px 0px;
            fill: var(--primary-text-color);

            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .mail-icon {
            width: 16px;
            height: 12px;
        }

        /*Футер*/

        .footer {
            background-color: var(--bgc-dark-grey);

            padding-top: 60px;
            padding-bottom: 60px;
        }

        .container__flex {
            display: flex;
        }
                
        .address {
            color: var(--withe-color);
            font-style: normal;
                       
        }

        .logo-footer {
            display: inline-block;
            
           
        }
        
        /*Свойства address*/
        .address-logo__item {
            margin-bottom: 20px;
        }

        .address__item:not(:last-child) {
            /*padding: 0;*/
            margin-bottom: 9px;
        }
                      
        .address .mail {
            color: var(--second-text-color);
            
        }
        
        .address .tel {
            /*display: inline-block;*/
            color: var(--second-text-color);
           
        }

        .container-social {            
            margin: 15px 0px 0px 70px;
        }    
        
        .container-social__label {
            font-weight: 700;
            line-height: 1.14;
            text-transform: uppercase;
            color: var(--withe-color);
            margin: 0px 0px 20px 0px;
        }

        .social-icons__item .blue-circle-link {
            background-color: rgba(255, 255, 255, 0.1);
        }

        .blue-circle-link .white-icon {
            fill: var(--withe-color);
        }

        .container-email {            
            padding: 0;
            margin-top: 12px;
            margin-left: auto;
        }

        .form-field {
            display: flex;
        }
          
        .form-field__email {
            display: flex;
            flex-direction: column;
        }
              
        .email__label {
            font-weight: 700;
            line-height: 1.14;
            text-transform: uppercase;
            color: var(--withe-color);
            margin: 0px 0px 20px 0px;
        }
          
        .email__input {
            width: 358px;
            margin: 0;
            padding: 16px 0px 16px 16px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            box-sizing: border-box;
            background-color: var(--bgc-dark-grey);
            border-radius: 4px;
            color: rgba(255, 255, 255, 0.6);
          
        }
          
        .form-field-email input::placeholder {
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
        }

        .btn__subscription {
            position: relative;
            width: 200px;
            height: 50px;
            padding-left: 29px;
            margin-top: 36px;
                   
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            
            margin-left: 12px;
            
            display: flex;
                       
        }
        
        .icon-send {
            position: absolute;
            top: 50%;
            right: 28px;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
            fill: var(--withe-color);
  
        }


        /*Свойства главной страницы сайта*/
        
        /*Свойства герой - hero*/
        .hero {
            background-color: var(--bgc-dark-grey); 
            padding-top: 200px;
            padding-bottom: 200px;

            text-align: center;

           /*background: rgba(47, 48, 58, 0.4);
            background-image: url(../images/Img-hero-opim.jpg);*/
        }

        .hero__container {
            height: 600px;
            margin-left: auto;
            margin-right: auto;
            background-image: 
            linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
            url("../images/hero-opim.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            
        }
        
        .hero__title {
            color: var(--withe-color);
        }
        
        .btn {
            background-color: var(--accent-color);
            color: var(--withe-color);
            font-weight: 700;
            font-size: 16px;
            line-height: 1.87;
            letter-spacing: 0.06em;
            /*text-align: center;*/

            border-radius: 4px;
            border: 0;
            padding: 10px 32px;
        }
       
        .hero__title {
            margin-top: 0;
            margin-bottom: 30px;
            
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
            
            letter-spacing: 0.06em;
            text-transform: uppercase;                     
        }
        
        /* Свойства section */
        .section {
            padding-top: 94px;
            padding-bottom: 94px;
        }
        
        /*Свойства section-block раздел Особенности*/
        
        .features__list { 
            display: flex;

        }

        .features__item {
            width: 270px;
        }

        .features__description {
            margin: 0;
        }

        .features__title {
            padding-top: 30px;
            padding-bottom: 10px;
            margin: 0;

            color: var(--title-text-color);
            text-transform: uppercase;
            font-weight: 700;
            
            line-height: 1.14;
        }
      
        .features__item::before {
            content: "";
            display: block;
            background-color: var(--bgc-light-grey);
            border-radius: 4px;
            width: 270px;
            height: 120px;
            
        }

        .antenna::before {
            background-image: url(../images/antenna.svg);
           background-repeat: no-repeat;
            background-position: center;
        }

        .clock::before {
            background-image: url(../images/clock.svg);
            background-repeat: no-repeat;
            background-position: center;
        }

        .diagram::before {
            background-image: url(../images/diagram.svg);
            background-repeat: no-repeat;
            background-position: center;
        }

        .astronaut::before {
            background-image: url(../images/astronaut.svg);
            background-repeat: no-repeat;
            background-position: center;
        }

           
        /*Свойства разделов Чем мы занимаемся и Наша команда*/
        
         /*Заголовки секций*/
         .section__title {
            padding: 0;
            margin: 0px 0px 50px;
            text-align: center;

            color: var(--title-text-color);
            font-weight: 700;
            font-size: 36px;
            line-height: 1.17;
        }

        .section__work {
            padding-bottom: 94px;
        }

        
        .work__list {
            display: flex;
            
        }

        .work__item {
            position: relative;
            width: 370px;
            height: 294px;
        }
        .work__overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0;
            padding-top: 27px;
            padding-bottom: 27px;
                        
            line-height: 1.17;
            text-transform: uppercase;
            text-align: center;
            background-color: rgba(47, 48, 58, 0.8);
            color: var(--withe-color);
        }


        .team__list {
            display: flex;
            
        }


        .team__item {
            background: var(--withe-color);
            height: 428px;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
           
        }
        
        
        .team {
            background-color: var(--bgc-light-grey);
        }
        /*Фото участников команды*/
        .team img {
            display: block;
            margin-bottom: 30px;
        }

        /*Заголовки имен */
        .team__member-name {
            padding: 0;
            margin: 0px 0px 10px 0px;
            text-align: center;
            display: block;
            

            color: var(--title-text-color);
            font-weight: 500;

        }
        /*Заголовки должностей*/
        .team__member-position {
            padding: 0;
            margin: 0px 0px 16px 0px;
            text-align: center;
                       
            font-size: 16px;
            line-height: 1.19;              
        }

        /*Иконки соцсетей у команды*/

        .social-icons {
            display: flex;
            justify-content: center;
            
        }

        .social-icons__item:not(:last-child) {
            margin-right: 10px;
        }

        .social-icons__link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 44px;
            height: 44px;
            background-color: var(--withe-color);
            border-radius: 50%;

            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .social-icons__link:hover {
            background-color: var(--accent-color);
        }

        .social-icons__link:hover .social-icons__icon {
            fill: var(--withe-color);

            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .social-icons__icon {
            width: 20px;
            height: 20px;
           fill: #AFB1B8;
        }
        
        /*Постоянные клиенты*/
      

        .client__link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 170px;
            height: 90px;
            background-color: var(--withe-color);
            border: 1px solid #AFB1B8;
            border-radius: 4px;

            transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .client__link:hover .client__icon {
            fill: var(--accent-color);
        }

        .client__link:hover {
            border: 1px solid var(--accent-color)
        }

        .client__icon {
            height: 50px;
            fill: #AFB1B8;

            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .backdrop {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0,0, 0.2);

            opacity: 1;
            transform: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .backdrop.is-hidden {
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
        }

        .backdrop.backdrop.is-hidden .modal {
            transform: scale(0.8) translate(-50%, -50%);
        }

        .modal {
            position: absolute;
            top: 50%;
            left: 50%;
            padding-top: 8px;
            
            width: 528px;
            
            background-color: var(--withe-color);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 4px;

            transform: scale(1) translate(-50%, -50%);

            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .modal-form {
            display: flex;
            margin: 0;
            padding: 0;
        }
        
        .close-icon__item {
            margin: 0;
        }
        
        .close-icon__link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            background-color: var(--withe-color);
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 50%;

            margin-right: 8px;
            margin-left: auto;
                                 
        }

        .close-icon {
            width: 11px;
            height: 11px;
            fill: #000;

            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .close-icon__link:hover .close-icon,
        .close-icon__link:focus .close-icon {
            fill: var(--accent-color);
        }

      
        .modal-form__list {            
            margin-top: 2px;
            margin-left: 40px;
            margin-right: 40px;
            padding: 0;
        }
                
        .modal-form__item-title {
            margin-bottom: 30px;
        }

        .modal-form__title {
            margin: 0px;
            font-size: 20px;
            line-height: 1.15;
            letter-spacing: 0.03em;

            color: var(--title-text-color);
        }

        .modal-form__item {
            display: flex;  
           
        }
        .modal-form__item:nth-child(-n + 4) {
            margin-bottom: 28px;           
        }

        .modal__label {
            position: relative;
            display: block;
        }

        .modal__label__text,
        .modal-label-comment {
            position: absolute;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.01em;
            color: var(--primary-text-color);
            
            display: inline-block;
            top: 0px;
            left: 0px;
            transform: translateY(-120%);
        }

        .modal-form__input {
            margin: 0;
            padding: 14px 15px 14px 42px;
            width: 448px;
            height: 40px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;  
            
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .modal-form__input:hover,
        .modal-form__input:focus {
            border-color: var(--accent-color);
            outline-color: var(--accent-color);
            outline-width: 0px;
        }

        .form-icon {
            position: absolute;
            display: inline-block;
            top: 50%;
            left: 15px;
            transform: translateY(-50%);
            
            fill: var(--title-text-color);
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
       
        .modal-form__input:focus + .form-icon,
        .modal-form__input:hover + .form-icon {
            fill: var(--accent-color);
        }

        .form-icon-name {
            width: 12px;
            height: 12px;                    
        }
        .form-icon-phone {
            width: 13px;
            height: 13px;
        }
        .form-icon-mail {
            width: 15px;
            height: 12px;
        }
        .modal-item-comment {
            position: relative;
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }
        .modal-item-comment .comment {
            width: 448px;
            height: 120px;
            padding: 12px 16px;
            resize: none;
            border: 1px solid rgba(33, 33, 33, 0.2);
            box-sizing: border-box;
            border-radius: 4px;
                     
            line-height: 1.14;
            letter-spacing: 0.01em;
            color: var(--title-text-color);
        }
        .comment::placeholder {
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.01em;

            color: rgba(117, 117, 117, 0.5);
        }
        
        .modal-item-checkbox {
            position: relative;
            padding-left: 12px;
            margin-bottom: 30px;
        }

        .modal-label-checkbox{
            display: flex;
            align-items: center;
        }

        .modal-check-input {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
        }

        .modal-check-box {
            display: block;
            width: 16px;
            height: 15px;
            background-color: var(--withe-color);
            background-image: url(../images/box.svg);
            
            background-position: center;
        }
        .modal-check-input:checked + .modal-check-box,
        .modal-check-input:focus + .modal-check-box {
            background-image: url(../images/check.svg);
            background-color: var(--accent-color);
            border-radius: 2px;
            fill: var(--withe-color);
            background-repeat: no-repeat;
            background-position: center;
        } 
     
        .modal-check-agreement {
            display: block;
            margin-left: 8px;
        }

        .modal-agreement {
            color: var(--primary-text-color);
        }
        .modal-agreement-link {
            color: var(--accent-color);
        }

        .modal-item-button {
            margin-bottom: 40px;
            text-align: center;
            
        }   

        .modal-item-button .modal-button {
            width: 200px;
            height: 50px;
            
        }
     
        /*Свойства Портфолио filter*/

        .container-filter {
            margin-bottom: 50px;
        }

        .filter__list {
            display: flex;
            justify-content: center;         
        }

        .filter__item:not(:last-child) {
            margin-right: 8px;
        }

        .filter__item .btn {
            display: inline-block;
            border-radius: 4px;
            padding: 6px 22px;
           
            color: var(--title-text-color);
            background-color: var(--bgc-light-grey);
            
            font-weight: 500;
            font-size: 16px;
            line-height: 1.62;
           
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .filter__item .btn:hover,
        .filter__item .btn:focus {
            color: var(--withe-color);
            background-color: var(--accent-color);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
        .filter__item .btn.current {
            color: var(--withe-color);
            background-color: var(--accent-color); 
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);    
        }
        
        /*Свойства портфолио project*/

        .line {
            border: 1px solid #ececec;

        }

        .project__list {
            display: flex;
            flex-wrap: wrap;

        }

        .project__item {
            width: 370px;
            height: 404px;
            margin-right: 30px;
            background: var(--withe-color);
                              
        }
         .project__item:nth-child(3n) {
            margin-right: 0;
        }

        .project__item:nth-child(-n+6) {
            margin-bottom: 30px;
        }

        
        .project__link {
            display: block;
           
            padding: 0;
            margin: 0;
            border: 1px solid #EEEEEE;

            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .project__thumb {
            position: relative;
            overflow: hidden;
                     
        }

        .project__img {
            display: block;
            width: 370px;
            height: 294px;
        }
       
       .project__overlay {
            position: absolute;
            top: 0;
            margin: 0;
            padding: 63px 24px;
            width: 370px;
            height: 294px;
            
            font-size: 18px;
            line-height: 1.56;
            background: rgba(33, 150, 243, 0.9);
            color: var(--withe-color);
            opacity: 0;
            transform: translateY(100%);

            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
            opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);;
        }
        .project__meta {
            margin: 0;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 24px;

        }

        .project__title {
            color: var(--title-text-color);
            font-weight: 700;
            font-size: 18px;
            line-height: 2;
            letter-spacing: 0.06em;

            padding: 0;
            margin: 0px 0px 4px 0px;
        }
        .project__text {
            color: var(--primary-text-color);
            font-size: 16px;
            line-height: 1.87;

            padding: 0;
            margin: 0;
        }

        .project__link:hover,
        .project__link:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }

       
        .project__link:hover .project__overlay,
        .project__link:focus .project__overlay {
            transform: translateY(0);
            opacity: 1;
        }

        


        
        
        