.logo {
    color: $title-text-color;

    &,
    &-footer,
    &-web {
        font-family: "Raleway", sans-serif;
        @include font(26px, 1.2, 700);              
    }

    &-web {
        color: $accent-color;    
    }

    &-footer {
        display: inline-block;
        color: $withe-color;
    }

}