.page {
    font-family: Roboto, sans-serif;
    @include font(14px, 1.71);
    color: $primary-text-color;
    background-color: $withe-color;    
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
                
}

.container__flex {
    display: flex;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;

    &__flex {
        display: flex;                 
    }
}

.item__marg:not(:last-child) {
    margin-right: 30px;
}

.link {
    text-decoration: none;
}