.footer {
    background-color: $bgc-dark-grey;

    padding-top: 60px;
    padding-bottom: 60px;
}

.container__flex {
    display: flex;
}

.btn__subscription {
    position: relative;
    width: 200px;
    height: 50px;
    padding-left: 29px;
    margin-top: 36px;                   
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);            
    margin-left: 12px;            
    display: flex;                       
        
      .icon-send {
          position: absolute;
          top: 50%;
          right: 28px;
          transform: translateY(-50%);
          width: 24px;
          height: 24px;
          fill: $withe-color;  
      }
}
