.team__list {
    display: flex;            
}

.team__item {
    background: $withe-color;
    height: 428px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;           
}
        
.team {
    background-color: $bgc-light-grey;
}

.team img {
    display: block;
    margin-bottom: 30px;
}

.team__member-name {
    padding: 0;
    margin: 0px 0px 10px 0px;
    text-align: center;
    display: block;
    
    color: $title-text-color;
    font-weight: 500;
}

.team__member-position {
    padding: 0;
    margin: 0px 0px 16px 0px;
    text-align: center;
               
    font-size: 16px;
    line-height: 1.19;              
}